/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */
text{
  font-family: open sans light, helvetica, arial, sans-serif !important; 
}

.projects-title{
  margin-bottom: 3%
}

.projects .thumbnail{
  transition: all .2s ease-in-out;
  margin-bottom: 5%;
}

.projects .thumbnail:hover{
  transform: scale(1.1);
  }

.header{
    text-shadow: 2px 2px 3px #000000;
}

h6{
    text-decoration: underline;
    font-weight: bold;
}

p {
  line-height: 2rem;
}

img{
  max-width: 100%;
}

a{
  color: #26a69a;
  text-decoration: underline'
}

a:hover{
  text-decoration: underline;
  color: #b2dfdb;
}

.lg_icons{
  width: 50px;
  height: 50px;
  margin-top: 5%;
  clear: both;
}

.lg_icons:hover, .lg_iconsf:hover{
  background-color: #b2dfdb;
  border-radius: 50%;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 380px;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}

#darken{
  background: -webkit-linear-gradient(left, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(right, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(right, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(to right, rgba(0,0,0,0.2), rgba(0,0,0,0)); /* Standard syntax (must be last) */
}

.parallax img{
  filter: saturate(1.1);
}

#lax1{
  height: 700px !important;
}
  .parallax-container .section {
    width: 100%;
  }

@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }
}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }
}


footer.page-footer {
  margin: 0;
}